* { box-sizing: border-box; margin: 0; padding: 0; }

html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	border: 0;
	overflow: hidden; /*  Disable scrollbars */
	display: block; /* No floating content on sides */
}

#canvas-wrapper {
  display: inline-block;
  position: relative;
  margin: 20px;
}

#my_canvas-container {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: 10;
  pointer-events: none;
}
#my_canvas-container > #circlecanvas {
  width: 100%;
  height: 100%;
}